h1{
    text-align: center;
}
#my_graph{
    text-align: center;
    background-color: whitesmoke;
}
div{
    text-align: center;
}
div.tooltip {
    position: absolute;
    text-align: center;
    pointer-events: none;
    background-color: darkslategrey;
    color:white;
    border-left: 5px solid white;
}